{% extends "tienda/base.html" %}


{%block title %} All for Shonen{% endblock%}

{% block content%}
<br><br><br>
<!--Carrusel-->
<div class="container">
    <div class="row">
      <div class="col s3"></div>
      <div class="carousel carousel-slider" style="height: 450px; width: 1200px;" data-indicators="true">
        <a class="carousel-item" href="#one!"><img src="static/imagenes/Figuras/figura.png" class="responsive-img" alt="al" style="height: 400px; "></a>
        <a class="carousel-item" href="#one!"><img src="static/imagenes/Figuras/almirantes.jpg" class="responsive-img" alt="al" style="height: 400px; "></a>
        <a class="carousel-item" href="#one!"><img src="static/imagenes/Figuras/digimons.jpg" class="responsive-img" alt="dig" style="height: 400px; "></a>
        <a class="carousel-item" href="#one!"><img src="static/imagenes/Figuras/saint.jpg" class="responsive-img" alt="sai" style="height: 400px; "></a>
      </div>
    </div>
  </div>
  <!--One piece-->
  <br><br><br>
  <aside>
    <div class="row">
      <div class="col s1"></div>
      <h1>One Piece</h1>
      <br>
      <div class="col s1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/4573102551146-00-1100x1100.jpg" alt="mon" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Monkey D.Luffy-Gear4 <i class="material-icons right">more_vert</i></span>
          <p><a href="#">$63.990</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Monkey D.Luffy Gear4 Leo Bazooka<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	18cm</p>
          <p> Material:	PVC, ABS</p> 
          <p>Tipo Figura:	Estatua</p>
        </div>
      </div>
      <div class="col 1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/4573102581488-2-1000x1000h.jpg" alt="bor" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Borsalino Kizaru <i class="material-icons right">more_vert</i></span>
          <p><a href="#">$69.990</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">THE THREE ADMIRALS BORSALINO KIZARU<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	21.5m</p>
          <p> Material:	PVC, ABS</p> 
          <p>Tipo Figura:	Estatua</p>
        </div>
      </div>
      <div class="col 1"></div>   
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/Franky.jpg" alt="fra" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Cyborg Franky<i class="material-icons right">more_vert</i></span>
          <p><a href="#">$57.990</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">FiguartsZERO - Cyborg Franky<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	20cm</p>
          <p> Material:	PVC, ABS</p> 
          <p>Tipo Figura:	Estatua</p>
        </div>
      </div>
      <div class="col 1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 220px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/aokiji.jpg" alt="aok" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Kuzan Aokiji<i class="material-icons right">more_vert</i></span>
          <p><a href="#">$55.992</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">THE THREE ADMIRALS KUZAN-AOKIJI-<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	20cm</p>
          <p> Material:	PVC, ABS</p> 
          <p>Tipo Figura:	Estatua</p>
        </div>
      </div>
      <div class="col 1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 220px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/akainu.jpg" alt="akai" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Sakazuki Akainu<i class="material-icons right">more_vert</i></span>
          <p><a href="#">$69.990</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">THE THREE ADMIRALS SAKAZUKI-AKAINU-<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	20cm</p>
          <p> Material:	PVC, ABS</p> 
          <p>Tipo Figura:	Estatua</p>
        </div>
      </div>
    </div>
  <!--Parallax-->
    <div class="parallax-container">
      <div class="parallax"><img src="imagenes/Figuras/D3FoDmQXkAEbjcc.jpg" alt="d3"></div>
    </div>
  <!--Digimon-->
    <div class="row">
      <div class="col s1"></div>
      <h1>Digimon</h1>
      <br>
      <div class="col s1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/omega.jpg" alt="ome" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Omegamon <i class="material-icons right">more_vert</i></span>
          <p><a href="#">$59.492</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">OMEGAMON -Premium Color Edition- - DIGIMON ADVENTURE CHILDREN'S WAR GAME!<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	16cm</p>
          <p> Material:	PVC, ABS</p> 
          <p>Tipo Figura:	Articulada</p>
        </div>
      </div>
      <div class="col 1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/metal.jpg" alt="met" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Metal Garurumon <i class="material-icons right">more_vert</i></span>
          <p><a href="#">$49.999</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Digimon Metal Garurumon Figure Rise<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	17m</p>
          <p> Material:	PVC, ABS</p> 
          <p>Tipo Figura:	Armable</p>
          <p>Adicional:	*Requiere Armado. *No necesita pegamento para su armado 
            *Se recomienda el uso de herramientas especializadas.</p>
        </div>
      </div>
      <div class="col 1"></div>   
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/war.jpg" alt="war" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"> BLACK WARGREYMON <i class="material-icons right">more_vert</i></span>
          <p><a href="#">$39.990</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Digimon BLACKWARGREYMON Figure Rise<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
            <p> Altura:	17m</p>
            <p> Material:	PVC, ABS</p> 
            <p>Tipo Figura:	Armable</p>
            <p>Adicional:	*Requiere Armado. *No necesita pegamento para su armado 
              *Se recomienda el uso de herramientas especializadas.</p>
        </div>
      </div>
      <div class="col 1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 220px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/digimon.jpg" alt="digi" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"> Digivice  Bandai<i class="material-icons right">more_vert</i></span>
          <p><a href="#">$132.990</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> Digivice Ver.Complete Bandai Premium<i class="material-icons right">close</i></span>
          Digimón término tomado de Digital Monsters literalmente en español Monstruos Digitales, estilizado DIGIMON, es una franquicia de medios creado por Akiyoshi Hongo​ que incluye productos como mascotas virtuales, 
          videojuegos, películas, animes, mangas, juguetes y juegos de cartas coleccionables.>
        </div>
      </div>
        
    </div>
  <!--SAINT SEIYA-->
    <div class="row">
      <div class="col s1"></div>
      <h1>Saint Seiya</h1>
      <br>
      <div class="col s1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/Dohko.jpg" alt="doh" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Libra Dohko <i class="material-icons right">more_vert</i></span>
          <p><a href="#">$113.993</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Libra Dohko - Saint Cloth Myth EX (God Cloth)<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p>Peso:1.70kg</p> 
          <p>Tipo Figura:	Articulada</p>
        </div>
      </div>
      <div class="col 1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/aiolos.jpg" alt="aio" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Sagittarius Aiolos <i class="material-icons right">more_vert</i></span>
          <p><a href="#">$95.999</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">SAINT CLOTH MYTH EX - SAGITTARIUS AIOLOS<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	18m</p>
          <p> Material:	ABS, PVC, Diecast</p> 
          <p>Tipo Figura:	Armable</p>
        </div>
      </div>
      <div class="col 1"></div>   
      <div class="card white left hoverable" style="height: 320px; width: 200px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/hades.jpg" alt="had" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">  Hades <i class="material-icons right">more_vert</i></span>
          <p><a href="#">$154.990</a></p>
       </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">  MYTH CLOTH EX – HADES Figure Rise<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	20m</p>
          <p> Material:	ABS, PVC, Diecast</p> 
          <p>Tipo Figura:	Armable</p>
        </div>
      </div>
      <div class="col 1"></div>
      <div class="card white left hoverable" style="height: 320px; width: 220px;">
        <div class="card-image">
          <img class="materialboxed" src="imagenes/Figuras/clock.jpg" alt="clo" style="height: 200px; width: 200px;">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4"> Clock in Sanctuary<i class="material-icons right">more_vert</i></span>
          <p><a href="#">$126.990</a></p>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4"> SAINT CLOTH MYTH - THE FIRE CLOCK IN SANCTUARY<i class="material-icons right">close</i></span>
          <p>Especificaciones</p>
          <p> Altura:	26m</p>
          <p> Material:	ABS, PVC</p> 
          <p>Tipo Figura:	Estatua</p>
        </div>
      </div>
    </div>
  </aside>

{% endblock %}

{% block javascript%}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems,{
  
    height:600 ,
    duration:5
  
  });
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems,{
    indicators: true,});
    });
 </script>
 <script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
    });
 </script>
{% endblock %}