{% extends "tienda/base.html" %}
{% load static %}

{%block title %} All for Shonen{% endblock%}

{% block content%}
{% csrf_token %}


<!--Carrusel-->
<div class="container">
    <div class="row">
      <div class="col s3"></div>
      <div class="carousel carousel-slider" style="height: 450px; width: 1200px;" data-indicators="true">
        <a class="carousel-item" href="#one!"><img src="{% static 'imagenes/Figuras/figura.png'  %}" class="responsive-img" alt="al" style="height: 400px; "></a>
        <a class="carousel-item" href="#one!"><img src="{% static 'imagenes/Figuras/almirantes.jpg' %}" class="responsive-img" alt="al" style="height: 400px; "></a>
        <a class="carousel-item" href="#one!"><img src="{% static 'imagenes/Figuras/digimons.jpg' %}" class="responsive-img" alt="dig" style="height: 400px; "></a>
        <a class="carousel-item" href="#one!"><img src="{% static 'imagenes/Figuras/saint.jpg' %}" class="responsive-img" alt="sai" style="height: 400px; "></a>
      </div>
    </div>
  </div>
   <!--One piece-->
   <br><br><br>
   
   <aside>
     <div class="row">
       <div class="col s1"></div>
       <h1>One Piece</h1>
       <br>
      
       <div class="col s1"></div>
       {% for figura in figuras %}
        {% if figura.anime == "One piece" %}
       <div class="card white left hoverable" style="height: 320px; width: 200px;">
         <div class="card-image">
           <img class="materialboxed" src="{{figura.foto.url}}"  style="height: 200px; width: 200px;">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">{{figura.nombre}}<i class="material-icons right">more_vert</i></span>
           <p><a href="#">$63.990</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">{{figura.descripcion}}<i class="material-icons right">close</i></span>
           <p>Especificaciones</p>
           <p> Altura:	{{figura.altura}}cm</p>
           <p> Material:	{{figura.material}}</p> 
           <p>Tipo Figura:	{{figura.tipo}}</p>
         </div>
       </div> 
       {% endif %}
       {% endfor %}
      
      </div>
    
   <!--Parallax-->
     <div class="parallax-container">
       <div class="parallax"><img src="{% static 'imagenes/Figuras/D3FoDmQXkAEbjcc.jpg' %}" alt="d3"></div>
     </div>
   <!--Digimon-->
     <div class="row">
       <div class="col s1"></div>
       <h1>Digimon</h1>
       <br>
       <div class="col s1"></div>
       {% for figura in figuras %}
        {% if figura.anime == "Digimon" %}
       <div class="card white left hoverable" style="height: 320px; width: 200px;">
         <div class="card-image">
           <img class="materialboxed" src="{{figura.foto.url}}"  style="height: 200px; width: 200px;">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">{{figura.nombre}}<i class="material-icons right">more_vert</i></span>
           <p><a href="#">$63.990</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">{{figura.descripcion}}<i class="material-icons right">close</i></span>
           <p>Especificaciones</p>
           <p> Altura:	{{figura.altura}}cm</p>
           <p> Material:	{{figura.material}}</p> 
           <p>Tipo Figura:	{{figura.tipo}}</p>
         </div>
       </div> 
       {% endif %}
       {% endfor %}
      </div> 
      
   <!--SAINT SEIYA-->
     <div class="row">
       <div class="col s1"></div>
       <h1>Saint Seiya</h1>
       <br>
       <div class="col s1"></div>
       <div class="card white left hoverable" style="height: 320px; width: 200px;">
         <div class="card-image">
           <img class="materialboxed" src="imagenes/Figuras/Dohko.jpg" alt="doh" style="height: 200px; width: 200px;">
         </div>
         <div class="card-content">
           <span class="card-title activator grey-text text-darken-4">Libra Dohko <i class="material-icons right">more_vert</i></span>
           <p><a href="#">$113.993</a></p>
         </div>
         <div class="card-reveal">
           <span class="card-title grey-text text-darken-4">Libra Dohko - Saint Cloth Myth EX (God Cloth)<i class="material-icons right">close</i></span>
           <p>Especificaciones</p>
           <p>Peso:1.70kg</p> 
           <p>Tipo Figura:	Articulada</p>
         </div>
       </div>
      </div>
      
 
{% endblock %}

{% block javascript%}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems,{
  
    height:600 ,
    duration:5
  
  });
});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.carousel');
    var instances = M.Carousel.init(elems,{
    indicators: true,});
    });
 </script>
 <script>
   document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.parallax');
    var instances = M.Parallax.init(elems);
    });
 </script>
{% endblock %}