{% extends "tienda/base.html" %}

{%block title %} All for Shonen{% endblock%}

{% block content%}
 <!--TODO:Imagenes manga,figura y artbooks-->
 <br><br>
 <div class="row">
   <a href="mangas"><img src="Imagenes/Index/Mangas.jpg"  class=" imagen" id="mangas" alt="mangas"></a>
   <a href="figuras"><img src="Imagenes/Index/Figuras.jpg"  class=" imagen" id="figuras" alt="figuras"></a>
   <a href="artbooks"><img src="Imagenes/Index/Art.jpg"  class=" imagen" id="artbook" alt="artbooks"></a>
 </div>

<!--TODO:Ofertas-->
 <div class="row">
   <a href=""><img src="Imagenes/Index/Ofertas.png" class=" imagen2"  id="ofertas" alt="ofertas"></a>
 </div>
 <!--TODO:Prximanmente-->
 <aside>
   <div class="row">
     <div class="col s1"></div>
     <h1>Próximamente</h1>
     <br>
     <div class="col s1"></div>

     <div class="card white left hoverable" style="height: 320px; width: 200px;">
       <div class="card-image">
         <img class="materialboxed" src="Imagenes/Index/Bersek.jpg" style="height: 200px; width: 200px;" alt="berserk">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Berserk Volumen:4<i class="material-icons right">more_vert</i></span>
         <p><a href="#">Próximamente</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">Berserk Volumen:4<i class="material-icons right">close</i></span>
         <p>Luego de ser encontrado llorando bajo el cadáver de su madre, Guts es criado con crueldad por el mercenario Gambino, 
           quien a base de mucho abuso, lo educa para ser un guerrero.</p>
       </div>
     </div>
     <div class="col 1"></div>
     <div class="card white left hoverable" style="height: 320px; width: 200px;">
       <div class="card-image">
         <img class="materialboxed" src="Imagenes/Index/aKIRAjpg.jpg" style="height: 200px; width: 200px;" alt="akira">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Akira Volumen:2 <i class="material-icons right">more_vert</i></span>
         <p><a href="#">Próximamente</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">Akira Volumen:1<i class="material-icons right">close</i></span>
         <p>37 años después de que una explosión destruyera Tokio y provocara la 3ª Guerra Mundial, Neo-Tokio.</p>
       </div>
     </div>
     <div class="col 1"></div>   
     <div class="card white left hoverable" style="height: 320px; width: 200px;">
       <div class="card-image">
         <img class="materialboxed" src="Imagenes/Index/Spy.jpg" style="height: 200px; width: 200px;" alt="spyx">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">SPY X FAMILY Volumen:2<i class="material-icons right">more_vert</i></span>
         <p><a href="#">Próximamente</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">SPY X FAMILY Volumen:2<i class="material-icons right">close</i></span>
         <p>Sr. y Sra. Ivrea se enorgullecen de presentar el manga de espías más desternillante de la historia del espionaje: ¡Spy x Family está en camino!.Los países de Westalis y Ostania libran desde hace años una guerra fría donde el espionaje
           y los asesinatos son moneda corriente.</p>
       </div>
     </div>
     <div class="col 1"></div>
     <div class="card white left hoverable" style="height: 320px; width: 220px;">
       <div class="card-image">
         <img class="materialboxed" src="Imagenes/Index/sa.jpg" style="height: 200px; width: 200px;" alt="sangatsu">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Sangatsu no Lion Volumen:12<i class="material-icons right">more_vert</i></span>
         <p><a href="#">Próximamente</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">Sangatsu no Lion Volumen:12<i class="material-icons right">close</i></span>
         <p>Rei Kiriyama, de 17 años, es un jugador profesional de shôgi que vive solo en un barrio popular de Tokio. Perdió a su familia en un accidente cuando era pequeño y es un chico muy solitario. Ante él, aparecen tres hermanas, Akari, Hinata y Momo, 
           y mientras se relaciona con ellas, Rei... </p>
       </div>
     </div>
     <div class="col 1"></div>
     <div class="card white left hoverable" style="height: 320px; width: 220px;">
       <div class="card-image">
         <img class="materialboxed" src="Imagenes/Index/souljpg.jpg" style="height: 200px; width: 200px;" alt="soul">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">SOUL EATER SOUL ART<i class="material-icons right">more_vert</i></span>
         <p><a href="#">Próximamente</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">SOUL EATER SOUL ART<i class="material-icons right">close</i></span>
         <p>¡Espectacular artbook con todas las ilustraciones de Soul Eater ! Incluye material especial, 
           comentarios exclusivos del autor, bocetos y muestras de sus trabajos a... </p>
       </div>
     </div>
     <div class="col 1"></div>
     <div class="card white left hoverable" style="height: 320px; width: 220px;">
       <div class="card-image">
         <img class="materialboxed" src="Imagenes/Index/full.jpg" style="height: 200px; width: 200px;" alt="art-full">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">FULLMETAL ALCHEMIST ART<i class="material-icons right">more_vert</i></span>
         <p><a href="#">Próximamente</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">FULLMETAL ALCHEMIST ARTBOOK 2<i class="material-icons right">close</i></span>
         <p>El éxito de Fullmetal se debe en partes igual a su apasionante historia y a su dibujo cuidado y lleno de acción. En este segundo libro de 
           ilustraciones no solo podemos disfrutar del magnífico arte de Hiromu Arakawa, sino también de su ...</p>
       </div>
     </div>
   </div>
 </aside>


{% endblock %}

{% block javascript%}
<script>
    document.addEventListener('DOMContentLoaded', function() {
    M.AutoInit()});
</script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems,{
  
    height:600 ,
    duration:5
  
  });
});
</script>

{% endblock %}