{% extends "tienda/base.html" %}
{% load static %}
{%block title %} All for Shonen{% endblock%}

{% block content%}

<!--TODO:Slider-->
<div class="slider">
  <ul class="slides">
    <li>
      <img src="{% static 'imagenes/Index/slidder.jpg' %}" style="height: 600px; width: 1905px;" alt="slider-1" class="responsive-image"> <!-- random image -->  
    </li>
    <li>
      <img src="{% static 'imagenes/Index/slidder2.jpg' %}" style="height: 600px; width: 1905px;" alt="slider-2"> 
    </li>
    <li>
      <img src="{% static 'imagenes/Index/slidder3.jpg' %}" style="height: 600px; width: 1905px;" class="responsive-image" alt="slider-3"> <!-- random image -->
    </li>     
  </ul>
</div>
<!--TODO:Imagenes manga,figura y artbooks-->
 <br><br>
 <div class="row">
   <a href="mangas"><img src="{% static 'Imagenes/Index/Mangas.jpg' %}"  class=" imagen" id="mangas" alt="mangas"></a>
   <a href="figuras"><img src="{% static 'Imagenes/Index/Figuras.jpg' %}"  class=" imagen" id="figuras" alt="figuras"></a>
   <a href="artbooks"><img src="{% static 'Imagenes/Index/Art.jpg' %}"  class=" imagen" id="artbook" alt="artbooks"></a>
 </div>

<!--TODO:Ofertas-->
 <div class="row">
   <a href=""><img src="{% static 'Imagenes/Index/Ofertas.png' %}" class=" imagen2"  id="ofertas" alt="ofertas"></a>
 </div>
 <!--TODO:Prximanmente-->
 <aside>
   <div class="row">
     <div class="col s1"></div>
     <h1>Próximamente</h1>
     <br>
     <div class="col s1"></div>

     <div class="card white left hoverable" style="height: 320px; width: 200px;">
       <div class="card-image">
         <img class="materialboxed" src="{% static 'Imagenes/Index/Bersek.jpg' %}" style="height: 200px; width: 200px;" alt="berserk">
       </div>
       <div class="card-content">
         <span class="card-title activator grey-text text-darken-4">Berserk Volumen:4<i class="material-icons right">more_vert</i></span>
         <p><a href="#">Próximamente</a></p>
       </div>
       <div class="card-reveal">
         <span class="card-title grey-text text-darken-4">Berserk Volumen:4<i class="material-icons right">close</i></span>
         <p>Luego de ser encontrado llorando bajo el cadáver de su madre, Guts es criado con crueldad por el mercenario Gambino, 
           quien a base de mucho abuso, lo educa para ser un guerrero.</p>
       </div>
     </div>
    </div>
 </aside>


{% endblock %}

{% block javascript%}

<script>
    document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.slider');
    var instances = M.Slider.init(elems,{
  
    height:600 ,
    duration:5
  
  });
});
</script>

{% endblock %}