{% extends "tienda/baseAd.html" %}

{%block title %} All for Shonen{% endblock%}
    {% block content%}
    <form method="POST" action="eliminar_manga" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container white" > 
            <div class="row">
                <div class="input-field col l6 ">
                    <input type="text" name="codigoM" id="codigoM"   >
                    <label for="codigoM"> Indique el código de manga para eliminar</label>
                </div>
                <div class="input-field col l6 ">
                    <button type="submit" class="btn red waves-effect" >
                        <i class="material-icons right">delete</i>
                        Eliminar
                    </button>
    
                </div>
    
                <div class="clearfix"></div>
                
    
            </div> 
        </div> 
    </form>
    {% endblock %}