{% extends "registration/base_login.html" %}

{% load static %}
{%block title %} All for Shonen{% endblock%}

{% block content%}
    
  <div class="row">
      <div class="col s12">
        <div class=" section container">
            <div class="row card-panel #e0e0e0 grey lighten-2">
                <div class="center">
                    <h1>¡Error!</h1>
                    <h5>Ingreso uno o varios campos vacios.</h5>
                    <br><br>
                    <button type="submit" class="btn red waves-effect"><a href="{% url 'cambiar_contra'%}" style="color:white;">Volver</a></button>
                </div>                
            </div>
        </div>
      </div>
  </div>

<br><br><br><br><br><br><br><br><br>

{% endblock %}