{% extends "administrador/baseAd.html" %}
{% load static %}
{%block title %} All for Shonen{% endblock%}

{% block content%}

<form method="POST" >
    {% csrf_token %}
    <div class="row">
        <div class="col s2"></div>
        <div class="col s4">
            <div class="form-group">
                <br>
                <label for="username">Nombre de usuario:</label>
                <input  class="form-control" type="text" name="username" value="{{usuario.username}}">
            </div>
            <div class="form-group">
                <br>
                <label for="nombre">Nombre:</label>
                <input class="form-control" type="text" name="first_name" value="{{usuario.first_name}}">
            </div>
            <div class="form-group">
                <br>
                <label for="nombre">Apellido:</label>
                <input class="form-control" type="text" name="last_name" value="{{usuario.last_name}}">
            </div>
            <div class="form-group">
                <br>
                <label for="nombre">correo:</label>
                <input class="form-control" type="email" name="email" value="{{usuario.email}}">
            </div>
            <div class="input-field col l6">
            </div>
        </div>
    </div>

</form>




{% endblock %}
{% block javascript%}

    

{% endblock %}