{% extends "administrador/baseAd.html" %}

{% load static %}
{%block title %} All for Shonen{% endblock%}

{% block content%}
    
  <div class="row">
      <div class="col s10">
        <div class=" section container">
            <div class="row card-panel #e0e0e0 grey lighten-2">
                <div class="center">
                    <h1>¡Correcto!</h1>
                    <h5>Producto eliminado correctamente</h5>
                    <br><br>
                    
                </div>                
            </div>
        </div>
      </div>
  </div>

<br><br><br><br><br><br><br><br><br>

{% endblock %}