{% extends "registration/base_login.html" %}

{%block title %} All for Shonen{% endblock%}

{% block content%}

    <form method="POST" action="editar_usuario">
        {% csrf_token %}
        <div class="row">

        <div class="row">
            <div class="col s4"></div>
            <div class="col s4">
                <div class="form-group center">
                    <br><br>
                    <label for="username">Nombre de usuario</label>
                    <input class="form-control" type="text" name="username">
                    <br>
                    <br>
                    <br>
                    <label for="contraseña">Contraseña </label>
                    <input class="form-control" type="password" name="password" id="contraseña">

                    <br>
                    <label for="contraseña"> Confirmar Contraseña </label>
                    <input class="form-control" type="password" name="password" id="contraseñaR" onblur="igualpassword()">
                    <br><br>
                    <input class="btn btn-success float-right red" type="submit" value="Confirmar" >
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    
                </div>
            </div>
        </div>

    </form>  

{% endblock%}

{% block javascripts%}
    <script>
    function igualpassword(){

        var contraseña=document.getElementById("contraseña");
        var contraseñaR=document.getElementById("contraseñaR");
        if(contraseña.value !=contraseñaR.value)
        {
            
        
            alert("Por favor, revise las contraseñas no son iguales");
        
        
        }
        else{      
        }
    }  
    </script>

{% endblock %}