{% extends "administrador/baseAd.html" %}

{%block title %} All for Shonen{% endblock%}
{% block content%}
    <form method="POST"action="agregar_art" enctype="multipart/form-data" onsubmit="return validarArtAg()"  >
        {% csrf_token %}
        <div class="container white" > 
            <div class="row">
                <div class="input-field col l6 ">
                    <input type="text" name="codigoA" id="codigoA"   >
                    <label for="codigoA"> Código Artbook</label>
                </div>
                <div class="input-field col l6 ">
                    <input type="text" name="nombre" id="nombre" >
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col l6 ">
                    <input type="text" name="precio" id="precio" >
                    <label for="precio">Precio</label>
                </div>
                <div class="input-field col l6 ">
                    <input type="text" name="nombre_desc" id="nombre_desc" >
                    <label for="nombredesc">Nombre del Título para la descripcion</label>
                </div>
                <div class="input-field col l6">
                    <input type="text" name="descripcion" id="descripcion" >
                    <label for="material">Descripción</label>
                </div>
                <br>
                <div class="input-field col l12 m12">
                    <input type="file" name="fotoArtbook" id="fotoArtbook">
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="btn red waves-effect" >
                    <i class="material-icons right">check</i>Agregar
                </button>
            </div> 
        </div> 
    </form>
{% endblock %}

{% block javascript%}
<script>
function validarArtAg(){
 
 var codigo=document.getElementById("codigoA");
 var nombre=document.getElementById("nombre");
 var precio=document.getElementById("precio");
 var nombre_desc=document.getElementById("nombre_desc");
 var descripcion=document.getElementById("descripcion");
 var fotoArtbook=document.getElementById("fotoArtbook");

 //Test campo obligatorio
 if(codigo.value == "") {
   alert('ERROR: El campo codigo no debe ir vacío o lleno de solamente espacios en blanco');
   codigo.focus();
   return false;
 }else if(nombre.value == "") {
   alert('ERROR: El campo nombre no debe ir vacío o lleno de solamente espacios en blanco');
   nombre.focus();
   return false;
 }else if(precio.value == ""){
   alert('ERROR: Debe escribir un precio válido');
   return false;
 }else if(nombre_desc.value == ""){
     alert('ERROR: El campo nombre_desc no debe ir vacío o lleno de solamente espacios en blanco');
     return false;
 }else if(descripcion.value == ""){
     alert('ERROR: El campo descripcion no debe ir vacío o lleno de solamente espacios en blanco');
     return false;
 } else if(fotoArtbook.value.length == ""){
        alert('ERROR: El campo fotoArtbook no debe ir vacío ');
        return false;
 }else{
       alert("Todo Completado");
 return true;
 }
}





</script>
{% endblock%}