{% extends "administrador/baseAd.html" %}

{%block title %} All for Shonen{% endblock%}
{% block content%}
    <br><br>
    <form method="POST" action="ArtEn" >
        {% csrf_token %}
        <div class="container white" > 
            <div class="row"> 			
                <div class="input-field col l6 ">
                    <input type="text" name="codigoA" id="codigoA"   >
                    <label for="codigoM"> Indique el código de Artbook para buscar</label>
                </div>
                <div class="input-field col l6 ">
                    <button type="submit" class="btn red waves-effect" >
                        <i class="material-icons right">search</i>Buscar
                    </button>
                </div>  
            </div> 
        </div> 
    </form>
    
{% endblock %}

{% block javascript%}
    <script>
        var instance = M.Tabs.init(el);
    </script>

    <script type="text/javascript">	
        function ActivarCampoOtroTema()
            {var contenedor = document.getElementById("producto");		
            contenedor.style.display = 'block';		return true;	}
    </script>
    <script type="text/javascript">	
        function desactivar()
            {var contenedor = document.getElementById("navegador");		
            contenedor.style.display = 'none';		return true;	}
    </script>
{% endblock%}