{% extends "administrador/baseAd.html" %}

{%block title %} All for Shonen{% endblock%}
{% block content%}
    <form method="POST"  action="editar_art" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="container white" > 
            <div class="row"> 			
                <div class="input-field col l6 ">
                    <input type="text"  name="codigoA " id="codigoA " value="{{artbook.codigoA}}" >
                    <label for="direccion">Código de Artbook</label>
                </div>
                <div class="input-field col l6 ">
                    <input type="text" name="nombre" id="nombre" value="{{artbook.nombre}}" >
                    <label for="nombre">Nombre</label>
                </div>
                <div class="input-field col l6 ">
                    <input type="text" name="precio" id="precio" value="{{artbook.precio}}" >
                    <label for="precio">Precio</label>
                </div>
                <div class="input-field col l6 ">
                    <input type="text" name="nombre_desc" id="nombre_desc" value="{{artbook.nombre_desc}}" >
                    <label for="precio">Nombre del Título para la descripcion</label>
                </div>
                <div class="input-field col l6">
                    <input type="text" name="descripcion " id="descripcion " value="{{artbook.descripcion }}" >
                    <label for="nombredesc">Descripción </label> 
                </div>
                <br>
                <div class="input-field col l6 ">
                    <input type="file" name="fotoArtbook" id="fotoArtbook">
                    {% if artbook.fotoArtbook %}
                        <p>{{artbook.fotoArtbook.url }}</p>
                        <p><img src="{{artbook.fotoArtbook.url}}"></p>
                    {% endif %}
                </div>
                <div class="input-field col l6">
                    <input type="number" style="display:none;" name="id_artbook" id="id_artbook" value="{{artbook.id_artbook}}">
                </div>
                <div class="clearfix"></div>
                <br>
                <button type="submit" class="btn red waves-effect" >
                    <i class="material-icons right">check</i>Modificar
                </button>
            </div> 
        </div> 
    </form>
      
{% endblock %}

{% block javascript %}

{% endblock %}