{% extends "administrador/baseAd.html" %}

{%block title %} All for Shonen{% endblock%}
{% block content%}
  <div class="container">
    <table id="tablas">
      <thead class="responsive-table">
        <tr>
          <th>Codigo</th>
          <th>Nombre</th>
          <th>Categoria</th>
          <th>Tipo</th>
          <th>Precio</th>
          <th>Imagen</th>
        </tr>
      </thead>
      {% for figura in figuras %}
        <tbody>
          <tr>
            <td>{{figura.codigof}}</td> 
            <td>{{figura.nombre}}</td> 
            <td>{{figura.anime}}</td>
            <td>{{figura.tipo}}</td>
            <td>${{figura.precio}}</td>
            <td>
              <img src="{{figura.foto.url}}"  style="height: 200px; width: 200px;">
            </td>
          </tr>
        </tbody>    
      {% endfor %}
    </table> 
  </div>
{% endblock %}