{% extends "administrador/baseAd.html" %}
{%block title %} All for Shonen{% endblock%}
{% block content%}
    <form method="POST"  action="agregar_manga" enctype="multipart/form-data" onsubmit="return validarMangaAg()">
        {% csrf_token %}
        <div class="container white " > 
            <div class="row"> 			
                <div class="input-field col l6 ">
                    <input type="text" name="codigoM" id="codigoM"   >
                    <label for="codigoM"> Código Manga</label>
                </div>
                <div class="input-field col l6 ">
                    <input type="text" name="nombre" id="nombre" >
                    <label for="nombre">Nombre</label>
                </div>
                
                <div class="input-field col l6 ">
                    <input type="text" name="editorial" id="editorial" >
                    <label for="editorial">Editorial</label>
                </div>
                <div class="input-field col l6 ">
                    <select name="tipo" id="tipo" >
                        <option selected disabled>Seleccione el tipo de Manga</option>
                        <option value="1">Slam Dunk</option>
                        <option value="2">Fullmetal Alquimist</option>
                        <option value="3">Dr.Stone</option>
                        <option value="4">Kimetsu no Yaiba</option>       
                    </select>
                </div>
                <div class="input-field col l6 m6">
                    <input type="text" name="precio" id="precio" >
                    <label for="precio">Precio</label>
                </div>
                <div class="input-field col l6 ">
                    <input type="text" name="nombre_desc" id="nombre_desc" >
                    <label for="nombredesc">Nombre del Título para la descripcion</label>
                </div>
                <div class="input-field col l6">
                    <input type="text" name="descripcion" id="descripcion" >
                    <label for="material">Descripción</label>
                </div>
                <br>
                <div class="input-field col l12 m12">
                    <input type="file" name="fotoM" id="fotoM">
                </div>
                <div class="clearfix"></div>
                <button type="submit" class="btn red waves-effect" >
                    <i class="material-icons right">check</i>Agregar
                </button>
            
            </div> 
        </div> 
    </form>
       
{% endblock %}

{% block javascript%}
<script>
    function validarMangaAg(){
     
     var codigo=document.getElementById("codigoM");
     var nombre=document.getElementById("nombre");
     var editorial=document.getElementById("editorial");
     var tipo=document.getElementById("tipo");
     var precio=document.getElementById("precio");
     var nombre_desc=document.getElementById("nombre_desc");
     var descripcion=document.getElementById("descripcion");
     var fotoM=document.getElementById("fotoM");
    
     //Test campo obligatorio
     if(codigo.value == "") {
       alert('ERROR: El campo codigo no debe ir vacío o lleno de solamente espacios en blanco');
       codigo.focus();
       return false;
     }else if(nombre.value == "") {
       alert('ERROR: El campo nombre no debe ir vacío o lleno de solamente espacios en blanco');
       nombre.focus();
       return false;
     }else if(editorial.value == ""){
        editorial.focus();
        alert('ERROR: El campo editorial no debe ir vacío o lleno de solamente espacios en blanco');
        return false;
    }else if(tipo.selectedIndex==0){
        alert('ERROR: El campo tipo no debe ir vacío o lleno de solamente espacios en blanco');
        return false;
    } else if(precio.value == ""){
       alert('ERROR: Debe escribir un precio válido');
       return false;
    }else if(nombre_desc.value == ""){
        alert('ERROR: El campo nombre_desc no debe ir vacío o lleno de solamente espacios en blanco');
        return false;
    }else if(descripcion.value == ""){
        alert('ERROR: El campo descripcion no debe ir vacío o lleno de solamente espacios en blanco');
        return false;
    }else if(fotoM.value.length == ""){
        alert('ERROR: El campo foto Manga no debe ir vacío ');
        return false;
    }else{
        alert("Todo Completado");
        return true;
    }
    }
    
    
    
    
    
    </script>
{% endblock%}